In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sqlalchemy import create_engine
import os

In [6]:
file_path = "/home/lucas/Downloads/Viz/Viz_2022_Grupo_4/docker/challenge_data/"
file_folder = "Activity Logs/"
file_folder_postproc = "fix_activity_logs/"

In [16]:
for file in os.listdir(file_path + file_folder):
    split_file_name = file.split(".")
    # print(split_file_name[-1:])

    if split_file_name[-1:] == ["csv"]:
        print(file)
        df = pd.read_csv(file_path + file_folder + "/" + file)
        df["timestamp"] = pd.to_datetime(df["timestamp"])

        df_preproc = (
            df.sort_values(by=["timestamp"], ascending=True)
            .groupby(by=[x for x in df.columns if x != "timestamp"])
            .agg({"timestamp": [min, max]})
            .reset_index()
        )

        # Create columns, and remove the multiindex column
        df_preproc["ts_min"] = df_preproc["timestamp"]["min"]
        df_preproc["ts_max"] = df_preproc["timestamp"]["max"]
        del df_preproc["timestamp"]

        # In this point columns is a tuple. Reduce to the first level
        df_preproc.columns = df_preproc.columns.get_level_values(0)

        # Save, without index, to another folder
        df_preproc.to_csv(
            f"{file_path + file_folder_postproc}/{split_file_name[0]}.csv", index=False
        )

ParticipantStatusLogs68.csv
ParticipantStatusLogs15.csv
ParticipantStatusLogs19.csv
ParticipantStatusLogs36.csv
ParticipantStatusLogs65.csv
ParticipantStatusLogs30.csv
ParticipantStatusLogs45.csv
ParticipantStatusLogs8.csv
ParticipantStatusLogs50.csv
ParticipantStatusLogs28.csv
ParticipantStatusLogs10.csv
ParticipantStatusLogs62.csv
ParticipantStatusLogs46.csv
ParticipantStatusLogs33.csv
ParticipantStatusLogs11.csv
ParticipantStatusLogs1.csv
ParticipantStatusLogs71.csv
ParticipantStatusLogs32.csv
ParticipantStatusLogs2.csv
ParticipantStatusLogs14.csv
ParticipantStatusLogs69.csv
ParticipantStatusLogs24.csv
ParticipantStatusLogs21.csv
ParticipantStatusLogs42.csv
ParticipantStatusLogs72.csv
ParticipantStatusLogs40.csv
ParticipantStatusLogs57.csv
ParticipantStatusLogs52.csv
ParticipantStatusLogs7.csv
ParticipantStatusLogs54.csv
ParticipantStatusLogs38.csv
ParticipantStatusLogs56.csv
ParticipantStatusLogs49.csv
ParticipantStatusLogs67.csv
ParticipantStatusLogs34.csv
ParticipantStatusLogs41.csv
ParticipantStatusLogs31.csv
ParticipantStatusLogs63.csv
ParticipantStatusLogs37.csv
ParticipantStatusLogs9.csv
ParticipantStatusLogs22.csv
ParticipantStatusLogs17.csv
ParticipantStatusLogs4.csv
ParticipantStatusLogs16.csv
ParticipantStatusLogs13.csv
ParticipantStatusLogs58.csv
ParticipantStatusLogs48.csv
ParticipantStatusLogs70.csv
ParticipantStatusLogs12.csv
ParticipantStatusLogs18.csv
ParticipantStatusLogs25.csv
ParticipantStatusLogs66.csv
ParticipantStatusLogs23.csv
ParticipantStatusLogs20.csv
ParticipantStatusLogs5.csv
ParticipantStatusLogs53.csv
ParticipantStatusLogs64.csv
ParticipantStatusLogs55.csv
ParticipantStatusLogs27.csv
ParticipantStatusLogs44.csv
ParticipantStatusLogs43.csv
ParticipantStatusLogs3.csv
ParticipantStatusLogs59.csv
ParticipantStatusLogs35.csv
ParticipantStatusLogs51.csv
ParticipantStatusLogs60.csv
ParticipantStatusLogs47.csv
ParticipantStatusLogs29.csv
ParticipantStatusLogs61.csv
ParticipantStatusLogs39.csv
ParticipantStatusLogs26.csv
ParticipantStatusLogs6.csv

In [15]:
df_preproc.columns

Index(['currentLocation', 'participantId', 'currentMode', 'hungerStatus',
       'sleepStatus', 'apartmentId', 'availableBalance', 'jobId',
       'financialStatus', 'dailyFoodBudget', 'weeklyExtraBudget', 'ts_min',
       'ts_max'],
      dtype='object')

In [29]:
# file_name = 'ParticipantStatusLogs1.csv'

In [30]:
# df = pd.read_csv(file_path+'/'+file_name)

In [31]:
# df.head()

,timestamp,currentLocation,participantId,currentMode,hungerStatus,sleepStatus,apartmentId,availableBalance,jobId,financialStatus,dailyFoodBudget,weeklyExtraBudget
0,2022-03-01T00:00:00Z,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.302570
1,2022-03-01T00:00:00Z,POINT (-1526.9372331431534 5582.2951345645315),1,AtHome,JustAte,Sleeping,928.0,860.574204,929,Stable,12,926.714377
2,2022-03-01T00:00:00Z,POINT (-1360.9905987829304 2108.804385379679),2,AtHome,JustAte,Sleeping,291.0,1298.184541,348,Stable,16,848.802876
3,2022-03-01T00:00:00Z,POINT (-1558.517200825967 5600.664347152427),3,AtHome,JustAte,Sleeping,1243.0,1180.641725,316,Stable,12,819.325405
4,2022-03-01T00:00:00Z,POINT (976.2409614204214 4574.575079082071),4,AtHome,JustAte,Sleeping,194.0,-681.650588,177,Unstable,20,0.000000

In [32]:
# df.columns

Index(['timestamp', 'currentLocation', 'participantId', 'currentMode',
       'hungerStatus', 'sleepStatus', 'apartmentId', 'availableBalance',
       'jobId', 'financialStatus', 'dailyFoodBudget', 'weeklyExtraBudget'],
      dtype='object')

In [47]:
# df["timestamp"] = pd.to_datetime(df["timestamp"])

In [48]:
# df.dtypes

timestamp            datetime64[ns, UTC]
currentLocation                   object
participantId                      int64
currentMode                       object
hungerStatus                      object
sleepStatus                       object
apartmentId                      float64
availableBalance                 float64
jobId                              int64
financialStatus                   object
dailyFoodBudget                    int64
weeklyExtraBudget                float64
dtype: object

In [50]:
# [x for x in df.columns if x != 'timestamp']

['currentLocation',
 'participantId',
 'currentMode',
 'hungerStatus',
 'sleepStatus',
 'apartmentId',
 'availableBalance',
 'jobId',
 'financialStatus',
 'dailyFoodBudget',
 'weeklyExtraBudget']

In [51]:
# df[df.participantId == 0].sort_values(by=["timestamp"], ascending=True)

,timestamp,currentLocation,participantId,currentMode,hungerStatus,sleepStatus,apartmentId,availableBalance,jobId,financialStatus,dailyFoodBudget,weeklyExtraBudget
0,2022-03-01 00:00:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.302570
1011,2022-03-01 00:05:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.302570
2022,2022-03-01 00:10:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.302570
3033,2022-03-01 00:15:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.302570
4044,2022-03-01 00:20:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.302570
...,...,...,...,...,...,...,...,...,...,...,...,...
1621634,2022-03-06 18:30:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecomingHungry,Awake,926.0,2707.417917,254,Stable,12,1295.841813
1622514,2022-03-06 18:35:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecomingHungry,Awake,926.0,2707.417917,254,Stable,12,1295.841813
1623394,2022-03-06 18:40:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecomingHungry,Awake,926.0,2707.417917,254,Stable,12,1295.841813
1624274,2022-03-06 18:45:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecomingHungry,Awake,926.0,2707.417917,254,Stable,12,1295.841813
1625154,2022-03-06 18:50:00+00:00,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecomingHungry,Awake,926.0,2707.417917,254,Stable,12,1295.841813

In [54]:
# (
#     df[df.participantId == 0].sort_values(by=["timestamp"], ascending=True)
#                              .groupby(by=[x for x in df.columns if x != 'timestamp'])
#                              .agg({
#                                     'timestamp': [min, max]
#                                   })
#                              .reset_index()
# )

                                   currentLocation participantId currentMode  \

0    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
1    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
2    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
3    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
4    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
..                                             ...           ...         ...
393   POINT (81.11975478427682 1660.0509898558823)             0   Transport
394     POINT (86.23851138699402 1660.34574923512)             0   Transport
395     POINT (86.23851138699402 1660.34574923512)             0   Transport
396     POINT (86.23851138699402 1660.34574923512)             0   Transport
397     POINT (86.23851138699402 1660.34574923512)             0   Transport

       hungerStatus sleepStatus apartmentId availableBalance jobId  \

0        BecameFull       Awake       926.0      1666.210617   254
1        BecameFull       Awake       926.0      2052.445417   254
2        BecameFull       Awake       926.0      2434.287813   254
3        BecameFull       Awake       926.0      2817.172422   254
4    BecomingHungry       Awake       926.0      1286.519556   254
..              ...         ...         ...              ...   ...
393          Hungry       Awake       926.0      1286.519556   254
394      BecameFull       Awake       926.0      2073.317275   254
395      BecameFull       Awake       926.0      2459.552075   254
396      BecameFull       Awake       926.0      2841.394471   254
397         JustAte       Awake       926.0      1689.452869   254

    financialStatus dailyFoodBudget weeklyExtraBudget  \

0            Stable              12       1139.293946
1            Stable              12       1177.005523
2            Stable              12       1216.861733
3            Stable              12       1260.001034
4            Stable              12       1104.302570
..              ...             ...               ...
393          Stable              12       1104.302570
394          Stable              12       1139.293946
395          Stable              12       1177.005523
396          Stable              12       1216.861733
397          Stable              12       1104.302570

                    timestamp
                          min                       max
0   2022-03-02 07:00:00+00:00 2022-03-02 07:00:00+00:00
1   2022-03-03 07:00:00+00:00 2022-03-03 07:00:00+00:00
2   2022-03-04 07:00:00+00:00 2022-03-04 07:00:00+00:00
3   2022-03-05 07:40:00+00:00 2022-03-05 07:40:00+00:00
4   2022-03-01 07:00:00+00:00 2022-03-01 07:00:00+00:00
..                        ...                       ...
393 2022-03-01 08:15:00+00:00 2022-03-01 08:15:00+00:00
394 2022-03-02 16:55:00+00:00 2022-03-02 16:55:00+00:00
395 2022-03-03 16:55:00+00:00 2022-03-03 16:55:00+00:00
396 2022-03-04 16:55:00+00:00 2022-03-04 16:55:00+00:00
397 2022-03-01 17:25:00+00:00 2022-03-01 17:25:00+00:00

[398 rows x 13 columns]

In [55]:
# (
#     df[df.participantId == 0].sort_values(by=["timestamp"], ascending=True)
#                              .groupby(by=[x for x in df.columns if x != 'timestamp'])
#                              .agg({
#                                     'timestamp': [min, max]
#                                   })
#                              .reset_index()
# )

                                   currentLocation participantId currentMode  \

0    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
1    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
2    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
3    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
4    POINT (-1102.7532500205364 5800.813620807104)             0   Transport
..                                             ...           ...         ...
393   POINT (81.11975478427682 1660.0509898558823)             0   Transport
394     POINT (86.23851138699402 1660.34574923512)             0   Transport
395     POINT (86.23851138699402 1660.34574923512)             0   Transport
396     POINT (86.23851138699402 1660.34574923512)             0   Transport
397     POINT (86.23851138699402 1660.34574923512)             0   Transport

       hungerStatus sleepStatus apartmentId availableBalance jobId  \

0        BecameFull       Awake       926.0      1666.210617   254
1        BecameFull       Awake       926.0      2052.445417   254
2        BecameFull       Awake       926.0      2434.287813   254
3        BecameFull       Awake       926.0      2817.172422   254
4    BecomingHungry       Awake       926.0      1286.519556   254
..              ...         ...         ...              ...   ...
393          Hungry       Awake       926.0      1286.519556   254
394      BecameFull       Awake       926.0      2073.317275   254
395      BecameFull       Awake       926.0      2459.552075   254
396      BecameFull       Awake       926.0      2841.394471   254
397         JustAte       Awake       926.0      1689.452869   254

    financialStatus dailyFoodBudget weeklyExtraBudget  \

0            Stable              12       1139.293946
1            Stable              12       1177.005523
2            Stable              12       1216.861733
3            Stable              12       1260.001034
4            Stable              12       1104.302570
..              ...             ...               ...
393          Stable              12       1104.302570
394          Stable              12       1139.293946
395          Stable              12       1177.005523
396          Stable              12       1216.861733
397          Stable              12       1104.302570

                    timestamp
                          min                       max
0   2022-03-02 07:00:00+00:00 2022-03-02 07:00:00+00:00
1   2022-03-03 07:00:00+00:00 2022-03-03 07:00:00+00:00
2   2022-03-04 07:00:00+00:00 2022-03-04 07:00:00+00:00
3   2022-03-05 07:40:00+00:00 2022-03-05 07:40:00+00:00
4   2022-03-01 07:00:00+00:00 2022-03-01 07:00:00+00:00
..                        ...                       ...
393 2022-03-01 08:15:00+00:00 2022-03-01 08:15:00+00:00
394 2022-03-02 16:55:00+00:00 2022-03-02 16:55:00+00:00
395 2022-03-03 16:55:00+00:00 2022-03-03 16:55:00+00:00
396 2022-03-04 16:55:00+00:00 2022-03-04 16:55:00+00:00
397 2022-03-01 17:25:00+00:00 2022-03-01 17:25:00+00:00

[398 rows x 13 columns]

In [57]:
# df_preproc = (
#     df.sort_values(by=["timestamp"], ascending=True)
#       .groupby(by=[x for x in df.columns if x != 'timestamp'])
#       .agg({
#         'timestamp': [min, max]
#         })
#       .reset_index()
# )

In [58]:
# df_preproc["ts_min"] = df_preproc["timestamp"]["min"]
# df_preproc["ts_max"] = df_preproc["timestamp"]["max"]
# del df_preproc["timestamp"]

In [64]:
# df_preproc.sort_values(by=["participantId", "ts_min"]).head(5)

,currentLocation,participantId,currentMode,hungerStatus,sleepStatus,apartmentId,availableBalance,jobId,financialStatus,dailyFoodBudget,weeklyExtraBudget,ts_min,ts_max
,,,,,,,,,,,,,
108934,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,JustAte,Sleeping,926.0,1286.519556,254,Stable,12,1104.30257,2022-03-01 00:00:00+00:00,2022-03-01 00:45:00+00:00
108897,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecameFull,Sleeping,926.0,1286.519556,254,Stable,12,1104.30257,2022-03-01 00:50:00+00:00,2022-03-01 03:20:00+00:00
108913,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecomingHungry,Sleeping,926.0,1286.519556,254,Stable,12,1104.30257,2022-03-01 03:25:00+00:00,2022-03-01 06:05:00+00:00
108898,POINT (-2724.6277665310454 6866.2081834436985),0,AtHome,BecomingHungry,Awake,926.0,1286.519556,254,Stable,12,1104.30257,2022-03-01 06:10:00+00:00,2022-03-01 06:15:00+00:00
108777,POINT (-2721.353174109782 6862.8612194660855),0,Transport,BecomingHungry,Awake,926.0,1286.519556,254,Stable,12,1104.30257,2022-03-01 06:20:00+00:00,2022-03-01 06:20:00+00:00

In [62]:
# df.shape

(1625339, 12)

In [61]:
# df_preproc.shape

(314473, 13)