In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
os.chdir("C:\Archivos\Viz_2022_Grupo_4")

In [2]:
path = "docker\challenge_data"

#data challange
employers = pd.read_csv(path+"\Attributes\Employers.csv")
jobs = pd.read_csv(path+"\Attributes\Jobs.csv")
buildings = pd.read_csv(path+"\Attributes\Buildings.csv")

schools = pd.read_csv(path+"\Attributes\Schools.csv")
pubs = pd.read_csv(path+"\Attributes\Pubs.csv")
restos =pd.read_csv(path+"\Attributes\Restaurants.csv")

financial = pd.read_csv(path+"\Journals\FinancialJournal.csv")
checkin = pd.read_csv(path+"\Journals\CheckinJournal.csv")

# mati tabs
jobs = pd.read_csv("docker/Files/participant_job.csv",
                    delimiter = ";", header=1)
hrs_spent = pd.read_csv("docker/Files/hours_spent_in_venue.csv",
                    delimiter = ";", header=1)
employ = pd.read_csv("docker/Files/employer_employee.csv",
                    delimiter = ";", header=1)

In [18]:
restos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   restaurantId   20 non-null     int64
 1   foodCost       20 non-null     float64
 2   maxOccupancy   20 non-null     int64
 3   location       20 non-null     object
 4   buildingId     20 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 928.0+ bytes

In [5]:
hrs_spent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   participantid   1492 non-null   int64
 1   from_timestamp  1492 non-null   object
 2   to_timestamps   1491 non-null   object
 3   hour_diff       1491 non-null   float64
 4   venueid         1492 non-null   int64
 5   venuetype       1492 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 70.1+ KB

In [20]:
spents_df = pd.merge( hrs_spent , pubs[["pubId", "hourlyCost", "buildingId"]],
        how = "inner" , left_on = "venueid" ,  right_on = "pubId")
spents_df["spents"] = spents_df.hourlyCost * spents_df.hour_diff
spents_df

,participantid,from_timestamp,to_timestamps,hour_diff,venueid,venuetype,pubId,hourlyCost,buildingId,spents
0,619,3/1/22,3/1/22,2.0,1798,Pub,1798,11.545351,953,23.090702
1,619,3/2/22,3/2/22,1.0,1798,Pub,1798,11.545351,953,11.545351
2,619,3/4/22,3/5/22,1.0,1798,Pub,1798,11.545351,953,11.545351
3,619,3/6/22,3/6/22,2.0,1798,Pub,1798,11.545351,953,23.090702
4,619,3/6/22,3/6/22,3.0,1798,Pub,1798,11.545351,953,34.636054
...,...,...,...,...,...,...,...,...,...,...
294,619,2/13/23,2/14/23,3.0,1342,Pub,1342,14.140037,429,42.420110
295,619,2/14/23,2/14/23,3.0,1342,Pub,1342,14.140037,429,42.420110
296,619,3/31/23,4/1/23,0.0,1342,Pub,1342,14.140037,429,0.000000
297,619,4/1/23,4/1/23,1.0,1342,Pub,1342,14.140037,429,14.140037
298,619,4/19/23,4/19/23,1.0,1342,Pub,1342,14.140037,429,14.140037