# Monthly wage information

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sqlalchemy import create_engine

In [2]:
POSTGRES_USER = "viz_user"
POSTGRES_PASSWORD = "viz_pass"
POSTGRES_DB = "viz"

In [3]:
engine = create_engine(
    f"postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost/{POSTGRES_DB}"
)

## Plot avg from each participant

In [4]:
SQL = """with dates_balance as (
	(select concat(d.dt_year,'-', d.dt_month, '-01')::date "month",
	       participantid,
		   sum(wage_amt) balance,
		   0 as order_col
	  from vo_daily_wage_cohorts w
	  inner join vo_date d on d.dt_date = w."month"::date
	  group by concat(d.dt_year,'-', d.dt_month, '-01'), 
	       participantid)
	  union
	(select "month"::date, 
	        participantid, 
	        spend_amt as balance,
		    100 as order_col 
	  from vo_daily_wage_cohorts)
	order by participantid, "month", order_col asc
) 
select "month"::date, 
       participantid, 
       balance as daily_balance, 
       sum(balance) OVER (PARTITION BY participantid
                         ORDER BY participantid, "month", order_col asc) AS balance_acum_amt
  from dates_balance
  where "month" BETWEEN '20220228' and '20220531'  """

In [5]:
df = pd.read_sql(SQL, engine)

In [6]:
df.head(5)

        month  participantid  daily_balance  balance_acum_amt
0  2022-03-01              0       11931.95          11931.95
1  2022-03-01              0       -1194.33          10737.62
2  2022-03-02              0          -8.17          10729.45
3  2022-03-03              0          -8.17          10721.28
4  2022-03-04              0          -8.17          10713.11

In [7]:
df.dtypes

month                object
participantid         int64
daily_balance       float64
balance_acum_amt    float64
dtype: object

In [8]:
df.shape

(410031, 4)

In [9]:
fig, ax = plt.subplots(figsize=(12, 5))

for participant in df.participantid.tolist():
    ax.plot(
        "month",
        "balance_acum_amt",
        data=df[df.participantid == participant],
        marker=".",
        markerfacecolor="red",
        markersize=1,
        color="red",
        alpha=0.1,
        linewidth=1,
    )
# ax.legend(["Graduate", "Bachelors", "HighSchool", "Low"])
plt.show()